<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>综合论坛首页</title>

    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script src="/static/js/common2.js"></script>
    <style>
        .bottom_article span{
            margin_right:20px;
        }

    </style>
</head>

<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="#">首页</a></li>
                    <li class="active"><a href="#">论坛 <span class="sr-only">(current)</span></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" id="logi">
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading">广告位</div>
                <div class="panel-body">
                    联系电话：99999
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">草榴社区</h3>
                </div>
                <div class="panel-body">
                    <a href="http://www.baidu.com">点我</a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            {% for article in article_list %}
            <div style="margin-bottom:10px">
                <h3><a href="/community/{{ article.author.username }}/article/{{ article.id }}">{{ article.title }}</a></h3>
                <div class="media">
                    <div class="media-left">
                        <a href="/community/{{ article.author.username }}">
                            <img class="media-object" src="/media/hello.png" height="30" width="30" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        {{ article.content }}
                    </div>
                </div>
                <div class="bottom_article">
                    <span><a href="">{{ article.author.nickname }}</a></span>
                    <span>发布于 {{ article.created_time|date:'Y-m-d H:i' }}</span>
                    <span class="glyphicon glyphicon-comment">评论</span>
                    <span class="glyphicon glyphicon-thumbs-up">{{ article.like }}</span>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">广告位</div>
                <div class="panel-body">
                    联系电话：99999
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">草榴社区</h3>
                </div>
                <div class="panel-body">
                    <a href="http://www.baidu.com">点我</a>
                </div>
            </div>
        </div>

</body>


</html>