{% extends 'center_base.html' %}

{% block mycss %}
<style>
.nav-list[data-v-711ef53a] {
    padding: 0 20px;
}
ol, ul {
    list-style: none;
}
.nav-list li .nav-container>div[data-v-711ef53a] {
    float: left;
    -webkit-box-sizing: border-box;

}
.nav-list li .list-title[data-v-711ef53a] {
    width: 45%;
    padding: 30px 10px 30px 20px;
}
.nav-list li .list-description[data-v-711ef53a] {
    width: 35%;
    padding: 30px 10px;
}
.nav-list li .list-link[data-v-711ef53a] {
    width: 20%;
    padding: 30px 10px 30px 20px;
}

div {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

* {
    padding: 0;
    margin: 0;
    font-family: MicrosoftYaHei;
    -webkit-tap-highlight-color: rgba(255,255,255,0);

}
.nav-list li .nav-container>div[data-v-711ef53a] {
    float: left;
    box-sizing: border-box;
}
.nav-list li .list-title[data-v-711ef53a] {
    width: 45%;
    padding: 30px 10px 30px 20px;
}
.nav-list li .list-title .list-title-text[data-v-711ef53a] {
    min-height: 20px;
    position: relative;
    padding-left: 28px;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
ol, ul {
    list-style: none;
}
.nav-list li[data-v-711ef53a] {
    min-height: 80px;
    border-top: 1px solid #e5e9ef;
}
.nav-list li .list-title .list-title-text .safe[data-v-711ef53a] {
    background: url(/static/images/download.png) no-repeat;
}
.nav-list li .list-title .list-title-text span[data-v-711ef53a] {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: 0;
}
.nav-list li .list-title .list-title-text p[data-v-711ef53a] {
    line-height: 20px;
    font-size: 14px;
    color: #222;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nav-list li .list-title .list-title-text .normal[data-v-711ef53a] {
    background: url(/static/images/download1.png) no-repeat;
}

</style>

{% endblock %}


{% block content %}
<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <ul>
            <h3>用户中心</h3>
            <li><a href="/center/{{ user.username }}">个人信息</a></li>
            <li><a href="/avatar/{{ user.username }}">我的头像</a></li>
            <li><a href="/safe/{{ user.username }}" class="active">安全中心</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <div class="info_con clearfix">
            <h3 class="common_title2">安全中心</h3>
            <div>
                <ul data-v-711ef53a="" class="nav-list">
                    <li data-v-711ef53a="">
                        <div data-v-711ef53a="" class="nav-container clearfix">
                            <div data-v-711ef53a="" class="list-title clearfix">
                                <div data-v-711ef53a="" class="list-title-text"><span data-v-711ef53a=""
                                                                                      class="safe"></span>
                                    <p data-v-711ef53a="" style="display:block;">设置密码</p></div>
                            </div>
                            <div data-v-711ef53a="" class="list-description"><p data-v-711ef53a="" class="">
                                已设置
                                <!----></p></div>
                            <div data-v-711ef53a="" class="list-link"><p data-v-711ef53a=""><a data-v-711ef53a=""
                                                                                               href="/safe/{{ user.username }}/setpassword"
                                                                                               class="">修改密码</a></p>
                            </div>
                        </div>
                    </li>
                    <li data-v-711ef53a="">
                        <div data-v-711ef53a="" class="nav-container clearfix">
                            <div data-v-711ef53a="" class="list-title clearfix">
                                <div data-v-711ef53a="" class="list-title-text"><span data-v-711ef53a=""
                                                                                      class="safe"></span>
                                    <p data-v-711ef53a="">绑定手机</p></div>
                            </div>
                            {% if not user.phone %}
                            <div data-v-711ef53a="" class="list-description"><p data-v-711ef53a="" class="">
                                未绑定手机
                                <!----></p></div>
                            {% else %}
                            <div data-v-711ef53a="" class="list-description"><p data-v-711ef53a="" class="">
                                {{ user.phone }}
                                <!----></p></div>
                            {% endif %}

                            <div data-v-711ef53a="" class="list-link"><p data-v-711ef53a=""><a data-v-711ef53a=""
                                                                                               href="/safe/bindphone"
                                                                                               class="">更换手机</a></p>
                            </div>
                        </div>
                    </li>
                    <li data-v-711ef53a="">
                        <div data-v-711ef53a="" class="nav-container clearfix">

                            {% if not user.email %}
                            <div data-v-711ef53a="" class="list-title clearfix">
                                <div data-v-711ef53a="" class="list-title-text"><span data-v-711ef53a=""
                                                                                      class="normal"></span>
                                    <p data-v-711ef53a="">绑定邮箱</p></div>
                            </div>
                            <div data-v-711ef53a="" class="list-description"><p data-v-711ef53a="" class="">
                                未绑定
                                <!----></p></div>
                            <div data-v-711ef53a="" class="list-link"><p data-v-711ef53a=""><a data-v-711ef53a=""
                                                                                               href="#/bindmail"
                                                                                               class="">绑定邮箱</a></p>
                                {% else %}
                                <div data-v-711ef53a="" class="list-title clearfix">
                                    <div data-v-711ef53a="" class="list-title-text"><span data-v-711ef53a=""
                                                                                          class="safe"></span>
                                        <p data-v-711ef53a="">绑定邮箱</p></div>
                                </div>
                                <div data-v-711ef53a="" class="list-description"><p data-v-711ef53a="" class="">
                                    {{ user.email }}
                                    <!----></p></div>
                                <div data-v-711ef53a="" class="list-link"><p data-v-711ef53a=""><a data-v-711ef53a=""
                                                                                                   href="#/bindmail"
                                                                                                   class="">更换邮箱</a></p>
                                    {% endif %}


                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}