{% extends 'center_base.html' %}

{% block mycss %}
<style>
    * {
    padding: 0;
    margin: 0;
    font-family: MicrosoftYaHei;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}

div {
    display: block;
}
* {
    padding: 0;
    margin: 0;
    font-family: MicrosoftYaHei;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
    .breadcrumb-box[data-v-5e65c09a], .container[data-v-37ef1957] {
    padding-top: 24px;
}

.el-breadcrumb {
    font-size: 14px;
    line-height: 1;
}
.el-breadcrumb__item {
    float: left;
}

.el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
    font-weight: 700;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645,.045,.355,1);
    color: #303133;
}
.el-breadcrumb__separator[class*=icon] {
    margin: 0 6px;
    font-weight: 400;
}
.el-breadcrumb__separator {
    margin: 0 9px;
    font-weight: 700;
    color: #c0c4cc;
}


[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
    font-weight: 400;
    color: #606266;
    cursor: text;
}
.el-breadcrumb__item:last-child .el-breadcrumb__separator {
    display: none;
}
.el-breadcrumb__separator[class*=icon] {
    margin: 0 6px;
    font-weight: 400;
}
[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb-box[data-v-5e65c09a], .container[data-v-37ef1957] {
    padding-top: 24px;
}
.contanier[data-v-1ab5ef3c] {
    padding-top: 24px;
}
.steps-box[data-v-5c16aaea] {
    text-align: center;
}
.float-left {
    float: left;
}
a {
    color: #00a1d6;
    text-decoration: none;
    font-size: 12px;
}
.steps-list>.active .steps-icon[data-v-5c16aaea] {
    color: #f25d8e;
    border-color: #f25d8e;
}
.steps-list>.steps-pass .steps-icon[data-v-5c16aaea] {
    color: #00a1d6;
    border-color: #00a1d6;
}
.steps-icon[data-v-5c16aaea] {
    background-color: #fff;
    width: 20px;
    height: 20px;
    color: #ccd0d7;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 20px;
    border: 2px solid #ccd0d7;
    margin: 0 10px;
    text-align: center;
}
steps-list>.active .steps-title[data-v-5c16aaea] {
    color: #f25d8e;
}
.steps-title[data-v-5c16aaea] {
    font-size: 18px;
    color: #99a2aa;
    margin-right: 10px;
}
.steps-list .steps-line[data-v-5c16aaea] {
    height: 1px;
    background: #e5e9ef;
    width: 60px;
    margin-top: 11px;
}
.steps-line[data-v-5c16aaea] {
    border-top: 1px solid #e5e9ef;
}
.float-left {
    float: left;
}
em, i {
    font-style: normal;
}
a {
    color: #00a1d6;
    text-decoration: none;
    font-size: 12px;
}
.steps-box[data-v-5c16aaea] {
    text-align: center;
}
.steps-icon[data-v-5c16aaea] {
    background-color: #fff;
    width: 20px;
    height: 20px;
    color: #ccd0d7;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 20px;
    border: 2px solid #ccd0d7;
    margin: 0 10px;
    text-align: center;
}
.steps-title[data-v-5c16aaea] {
    font-size: 18px;
    color: #99a2aa;
    margin-right: 10px;
}
.container[data-v-21ab2178] {
    padding: 60px 0;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.form-desc[data-v-21ab2178], .form-group[data-v-21ab2178] {
    width: 350px;
    margin: 0 auto;
}

.el-input {
    position: relative;
    font-size: 14px;
}
.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.el-input-group__prepend {
    width: 4em!important;
    text-align: center;
}
.el-input-group__prepend {
    border-right: 0;
}
.el-input-group--append .el-input__inner, .el-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.el-input-group__append, .el-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
}
.el-input.is-disabled .el-input__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
}
.el-input-group--prepend .el-input__inner, .el-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.el-input-group>.el-input__inner {
    vertical-align: middle;
    display: table-cell;
}
.el-input__inner {
    -webkit-appearance: none;
    background-image: none;
    -moz-border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}

.form-message[data-v-21ab2178] {
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #e40c0c;
}

.form-desc[data-v-21ab2178] {
    color: #99a2aa;
    font-size: 14px;
    line-height: 30px;
    min-height: 30px;
}
.form-desc[data-v-21ab2178], .form-group[data-v-21ab2178] {
    width: 350px;
    margin: 0 auto;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.form-desc a[data-v-21ab2178] {
    font-size: 14px;
}
a {
    color: #00a1d6;
    text-decoration: none;
    font-size: 12px;
}
.form-desc[data-v-21ab2178], .form-group[data-v-21ab2178] {
    width: 350px;
    margin: 0 auto;
}
.verify-code[data-v-21ab2178] {
    width: 250px;
    margin-right: 12px;
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.verify-btn[data-v-21ab2178] {
    width: 88px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}
.float-left {
    float: left;
}

.form-message[data-v-21ab2178] {
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #e40c0c;
}
element.style {
    display: none;
}
.form-desc[data-v-21ab2178], .form-group[data-v-21ab2178] {
    width: 350px;
    margin: 0 auto;
}

.btn-full[data-v-21ab2178] {
    width: 100%;
    height: 40px;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#app .el-button--primary {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
}

.el-input::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
}
.el-input::-webkit-scrollbar-corner, .el-input::-webkit-scrollbar-track {
    background: #fff;
}
.el-input::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc;
}
.el-input::-webkit-scrollbar-corner, .el-input::-webkit-scrollbar-track {
    background: #fff;
}
.el-input::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px;
}
.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.el-input-group__prepend {
    width: 4em!important;
    text-align: center;
    border-right: 0;
}

.el-input-group>.el-input__inner {
    vertical-align: middle;
    display: table-cell;
}
.result-title[data-v-6fc7754d] {
    font-size: 24px;
    color: #222;
    margin: 0 auto 20px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 12px;
}
.result-desc[data-v-6fc7754d] {
    font-size: 12px;
    color: #6d757a;
    margin-bottom: 20px;
    text-align: center;
}
.result-img[data-v-6fc7754d] {
    display: block;
    margin: 0 auto 30px;
}
a {
    color: #00a1d6;
    text-decoration: none;
    font-size: 12px;
}
#app .el-button--primary {
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
}
.result-button[data-v-6fc7754d] {
    display: block;
    width: 160px;
    margin: 0 auto;
    height: 40px;
    font-size: 14px;
}


</style>

{% endblock %}


{% block content %}

<div class="col-md-7">
    <div>
        <div data-v-5e65c09a="" class="breadcrumb-box">
            <div data-v-5e65c09a="" aria-label="Breadcrumb" role="navigation" class="el-breadcrumb"><span
                    data-v-5e65c09a="" class="el-breadcrumb__item"><span role="link"
                                                                         class="el-breadcrumb__inner is-link">账号安全</span><i
                    class="el-breadcrumb__separator el-icon-arrow-right"></i></span><span data-v-5e65c09a=""
                                                                                          class="el-breadcrumb__item"
                                                                                          aria-current="page"><span
                    role="link" class="el-breadcrumb__inner">绑定手机</span><i
                    class="el-breadcrumb__separator el-icon-arrow-right"></i></span></div>
        </div>
        <div>
            <div data-v-37ef1957="" class="container">
                <div data-v-1ab5ef3c="" data-v-37ef1957="" class="contanier">
                    <div data-v-1ab5ef3c="">
                        <div data-v-5c16aaea="" data-v-1ab5ef3c="" class="steps-box" style="margin-left:240px">
                            <div data-v-5c16aaea="" class="clearfix steps-list"><a data-v-5c16aaea=""
                                                                                   href="#/setpassword/phone/verify"
                                                                                   class="clearfix float-left steps-pass"><span
                                    data-v-5c16aaea="" class="float-left steps-icon">1</span>
                                <div data-v-5c16aaea="" class="float-left steps-title">验证身份</div>
                                <i data-v-5c16aaea="" class="steps-line float-left"></i></a><a data-v-5c16aaea=""
                                                                                               href="#/setpassword/phone/set"
                                                                                               class="clearfix float-left steps-pass"><span
                                    data-v-5c16aaea="" class="float-left steps-icon">2</span>
                                <div data-v-5c16aaea="" class="float-left steps-title">绑定手机</div>
                                <i data-v-5c16aaea="" class="steps-line float-left"></i></a><a data-v-5c16aaea=""
                                                                                               href="#/setpassword/phone/result"
                                                                                               class="router-link-exact-active router-link-active clearfix float-left active"><span
                                    data-v-5c16aaea="" class="float-left steps-icon">3</span>
                                <div data-v-5c16aaea="" class="float-left steps-title">绑定成功</div> <!----></a></div>
                        </div>
                    </div>
                </div>
                <div data-v-6fc7754d="" data-v-384b0610="" data-v-37ef1957="" class="container"><h3 data-v-6fc7754d=""
                                                                                                    class="result-title">
                    绑定手机成功！
                </h3>
                    <p data-v-6fc7754d="" class="result-desc">
                        为了您的账号安全，绑定成功后，将全网注销退出，请重新登录
                    </p> <img data-v-6fc7754d=""
                              src="//s1.hdslb.com/bfs/static/security/static/img/result-success.5934aaa.png" alt=""
                              class="result-img"> <a data-v-6fc7754d="" href="http://127.0.0.1:8000/login">
                        <button data-v-6fc7754d="" type="button" class="el-button result-button el-button--primary">
                            <!----><!----><span >重新登录</span></button>
                    </a></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}